---
version: 2
interactions:
    - id: 0
      request:
        host: share2.dexcom.com
        body: '{"accountName":"REDACTED","applicationId":"d89443d2-327c-4a6f-89e5-496bbb0317db","password":"REDACTED"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://share2.dexcom.com/ShareWebServices/Services/General/AuthenticatePublisherAccount
        method: POST
      response:
        body: '"accountID"'
        headers:
            Content-Type:
                - application/json
            X-Trace-Id:
                - 9a8aace8-b6ee-4e81-aa57-5e3a38ab70fd
        status: 200 OK
        code: 200
        duration: 395.766166ms
    - id: 1
      request:
        host: share2.dexcom.com
        body: '{"accountId":"REDACTED","applicationId":"d89443d2-327c-4a6f-89e5-496bbb0317db","password":"REDACTED"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://share2.dexcom.com/ShareWebServices/Services/General/LoginPublisherAccountById
        method: POST
      response:
        body: '"3c348745-d2b3-4e3e-a8fe-306c0c18eae6"'
        headers:
            Content-Type:
                - application/json
            X-Trace-Id:
                - 009893b6-c321-4595-b317-13df8e6633d2
        status: 200 OK
        code: 200
        duration: 364.957958ms
    - id: 2
      request:
        host: share2.dexcom.com
        body: '{"maxCount":1,"minutes":1440,"sessionId":"REDACTED"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues
        method: POST
      response:
        body: '[{"WT":"Date(1680591428000)","ST":"Date(1680591428000)","DT":"Date(1680591428000-0700)","Value":160,"Trend":"FortyFiveUp"}]'
        headers:
            Content-Type:
                - application/json
            X-Trace-Id:
                - a6050045-a810-4c74-8542-56018488f488
        status: 200 OK
        code: 200
        duration: 106.706292ms
[...]
